@font-face {
  font-family: ARJulian;
  src: url('/fonts/ARJULIAN.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('/fonts/Raleway.ttf');
  size-adjust: 120%;
}

#app {
  font-family: 'Raleway', Courier, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main a,
main a:visited {
  color: rgb(var(--v-theme-primary));
}
main a:not(:hover) {
  text-decoration: none;
}
